@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
/************** TAGS **************/

h1 {
    text-align: center;
    margin-top: 30px;
}

h2 {
    color: rgb(35, 51, 76);
}

button {
    display: block;
    margin: 20px auto;
}

body {
    font-family: NotoSansMono, sans-serif;
}

/************** ID **************/

#menu {
    margin: 30px;
}

#docs {
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10%;
}

#buttons {
    width: 60%;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 15px;
}

#testing {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    
}